//
//  Override styles from selected files without
//  overriding entire file.
//



//
//  Common
//  _____________________________________________

& when (@media-common = true) {



//
//  Focus border color
//  ---------------------------------------------

.header-regular .block-search .input-text:focus, // Focus border color for search box in the header
._keyfocus *,
input:not([disabled]),
textarea:not([disabled]),
select:not([disabled]) {
    &:focus {
        .lib-css(border-color, #51a7e8);
    }
}



//
//  Magento/Swatches
//  From: /module-swatches/view/frontend/web/css/swatches.css
//  ---------------------------------------------

//  Added ".swatch-attribute" class to make the
//  rules more specific

.products-grid {
    .swatch-attribute-options {
        margin-top: 0;
    }
}
.swatch-attribute {
    .swatch-option:not(.disabled):hover {
        outline-width: 2px;
    }
    .swatch-option,
    .swatch-option.text {
        padding: 3px;
        min-width: 20px;
        height: 20px;
        line-height: 20px;
        vertical-align: top; // To keep space between lines of swatches when product grid items are centered
        margin-bottom: @product-listing__swatch__bottom-space;
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    // If swatches inside links (layered navigation)
    // right margin on last element needs to be restored
    a > .swatch-option,
    a > .swatch-option.text {
        &:last-child {
            margin-right: 5px;
        }
    }
}
.product-view {
    .swatch-attribute {
        .swatch-option {
            padding: 3px;
            min-width: 30px;
            height: 30px;
            line-height: 30px;
            margin-bottom: 5px;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}



//
//  Magento/blank
//  From: /theme-frontend-blank/web/css/source/_loaders.less
//  ---------------------------------------------

.loading-mask {
    background: rgba(255, 255, 255, 0.8); // Increased opacity of the overlay
}



//
//  Magento/blank
//  From: /theme-frontend-blank/Magento_Review/web/css/source/_module.less
//  ---------------------------------------------

.rating-summary .rating-result {
    margin-left: 0; // Remove negative offset
}



//
//  Magento/blank
//  From: /theme-frontend-blank/Magento_Checkout/web/css/source/module/checkout/_progress-bar.less
//  ---------------------------------------------

.opc-progress-bar {
    margin-top: 30px;
    margin-bottom: 40px;
}

//
//  Magento/lib
//  From: /lib/web/mage/gallery/gallery.less
//  ---------------------------------------------
// .gallery-placeholder {
//     .fotorama__stage {
//         border: 1px solid #eee;
//         margin-bottom: 10px;
//         padding: 5px;
//         // TODO: will only work correctly with "border-box":
//         box-sizing: border-box;
//     }
//     .fotorama__nav--thumbs .fotorama__nav__frame--thumb {
//         border: 1px solid #eee;
//         padding: 3px;
//         // TODO: will only work correctly with "border-box":
//         box-sizing: border-box;
//     }
// }
// .fotorama__thumb-border {
//     // border-color: #29b7ad;
// }



} // end: media-common



//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

    //
    //  Magento/blank
    //  From: /theme-frontend-blank/Magento_Checkout/web/css/source/module/checkout/_authentication.less
    //  ---------------------------------------------

    //  Position "Sign up" button just above the progress bar

    // .authentication-wrapper {
    //     margin-top: -10px;
    // }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    //
    //  Magento/lib
    //  From: /lib/web/mage/gallery/gallery.less
    //  ---------------------------------------------

    .magnifier-preview {
        display: none !important;        
    }

}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    //
    //  Magento/lib
    //  From: /lib/web/mage/gallery/gallery.less
    //  ---------------------------------------------

    .magnifier-preview {
        -moz-box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
        -webkit-box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
        box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
    }

}
