/* Menu */
.aw-blog-menu {
    color: #41362f;
    float: left;
    font-size: 1.6rem;
    margin-top: .7rem;
}
.page-main-actions._hidden .aw-blog-menu {
    display: none;
}
.aw-blog-menu .dropdown {
    display: inline-block;
    position: relative;
}
.aw-blog-menu .dropdown:before, .aw-blog-menu .dropdown:after {
    content: "";
    display: table;
}
.aw-blog-menu .admin__action-dropdown {
    font-size: 1.6rem;
    letter-spacing: .025em;
    background-color: #f8f8f8;
    z-index: 520;
    transition: border-color 0.15s ease;
}
.aw-blog-menu .dropdown .dropdown-menu {
    margin: 0;
    padding: 6px 0 3px 0;
    list-style: none none;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px #adadad solid;
    position: absolute;
    z-index: 500;
    top: 100%;
    line-height: 1.36;
    min-width: 25.5rem;
    margin-top: -1px;
    display: none;
    transition: all 0.15s ease;
    visibility: hidden;
    opacity: 0;
}
.aw-blog-menu .dropdown.active .admin__action-dropdown-text:after {
    background-color: #ffffff;
    content: '';
    height: 6px;
    position: absolute;
    top: 100%;
    right: -6px;
    left: 0;
}
.aw-blog-menu .dropdown.active .admin__action-dropdown,
.aw-blog-menu .dropdown.active .dropdown-menu {
    border-color: #adadad;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.aw-blog-menu .dropdown.active .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}
.aw-blog-menu .dropdown .dropdown-menu li:hover,
.aw-blog-menu .dropdown .dropdown-menu li.current {
    background: #e9e9e9;
    cursor: pointer;
}
.aw-blog-menu .dropdown-menu li {
    margin: 0;
    border: 0;
    cursor: default;
    font-size: 1.4rem;
}
.aw-blog-menu .dropdown-menu li a {
    text-decoration: none;
    color: #41362f;
    display: block;
    padding: .6rem 1.8rem;
}
.aw-blog-menu .dropdown-menu li.separator {
    border-top: 1px #adadad solid;
}
.aw-blog-menu .dropdown-menu li.separator a {
    padding-top: .7rem;
}